* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Patrick Hand', cursive;
    color: white;
}

legend, label, li {
    font-family: 'Patrick Hand', cursive;
}

html, body {
    height: 98vh;
}

#container {
    min-height: 100%;
}

#main {
    padding-bottom: 100px;
}


#footer {
    background-color: rgb(61, 119, 167);
    height: 101px;
    margin-top: -100px;
    clear: both;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

img {
    height: 150px;
    max-width: 100%;
    display: flex;
    padding: 10px;
}

.main-header {
    background-color: rgb(61, 119, 167);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menubar {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #93f0af;
    
}

.menubar li {
    display: flex;
    justify-content: space-evenly;
    background: #93f0af;
    width: 120px;
    padding: 15px 15px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all .3s ease-out;
    margin-right: 10px;
    
  }

.menubar li a {
    color: black; 
    text-decoration: none;
  }

.menubar li:hover {
    background:rgb(253, 255, 159) ;
    background-position: 100% 0%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

section {
    height: 525px;
    width: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/lawn.png); 
    background-repeat: no-repeat;
    background-size: cover;
  }



.form-group {
    width: 100%; 
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 10px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type=submit]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background: linear-gradient( to right, #93f0af 30%, rgb(253, 255, 159)  71%, rgb(253, 255, 159)  100%);
    background-size: 120% 100%;
    background-position: left bottom;
    transition: all .3s ease-out;
    font-family: 'Patrick Hand';
}

button[type=submit]:hover{
     /* background:rgb(253, 255, 159) ;  */
    background-position: right bottom;
} 

input:focus, textarea:focus {
  border: 3px solid hsla(54, 96%, 71%, 0.6);
}

.image-background {
     background-image: url(../img/lawn.png); 
     background: rgba(0, 0, 0, .2);
     /* background-color: black; opacity: 0.1; */
     /* display: flex;
    align-items: center;
    justify-content: center; */
}

h2, p {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: white;
    font-family: 'Patrick Hand';
}

h2 {
    font-weight: bold;
}

legend, label {
    color: white;
    font-weight: bold;
}

button[type=learn]{
    width: 100%;
    border: none;
    outline: none;
    /* padding: 20px; */
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Patrick Hand';
    background-color: #f0a04b;
}

button[type=learn]:hover{
    color: black;
    border: 3px solid #f6c453;
    background-color: #f6c453;
}



.row {
    height: 80px;
    display: flex;
    align-items: center;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 4px;
    padding: 0 2px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2px;
  }

  .abt-container {
    padding: 0 4px;
  }
  
  .abt-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .pos {
    color: white;
    font-weight: bold;
  }
  
  .about-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #f0a04b;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .about-button:hover {
    background-color: #f6c453;
  }

h3, p1 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
    color: white;
    font-family: 'Patrick Hand';
}

h4, p2 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
    color: white;
    font-family: 'Patrick Hand';
}

h5, p3 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100px; */
    color: white;
    font-family: 'Patrick Hand';
    
}


@media (min-width: 900px) {
    .menubar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menubar li {
        display: flex;
        justify-content: space-evenly;
        background: #93f0af;
        width: 120px;
        padding: 15px 15px;
        cursor: pointer;
        position: relative;
        border-radius: 10px;
        box-sizing: border-box;
        transition: all .3s ease-out;
        margin-bottom: 10px;
      }

      .main-header {
        background-color: rgb(61, 119, 167);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #footer {
        background-color: rgb(61, 119, 167);
        height: 117px;
        margin-top: -100px;
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .image-background {
        width: 400px;
        flex: 1;
        /* border: 2px solid yellow; */
        margin-right: 20px;
        height: 120%;
    }
    
    .flex-container {
        display: flex;
    }


}